---
image:
  repository: "ghcr.io/infratographer/identity-api"
  pullPolicy: IfNotPresent

copyKeys:
  repository: "busybox"
  pullPolicy: IfNotPresent
  tag: "latest"

deployment:
  replicas: 3
  extraLabels: {}
  annotations: {}
  resources: {}

  containerUserID: 65532

# config builds the application configuration, non-sensitive pieces
# end up in the configMap. sensitive things such as oauth secret and
# private keys are mounted as environment variables or read-only
# volumeMounts.
config:
  server:
    ip: "0.0.0.0"
    port: 8080

  otel:
    enabled: false
    provider: stdout
    stdout:
      prettyPrint: true

  storage:
    migrateOnInit: false

    crdb:
      caSecretName: ""
      uriSecretName: ""

  oauth:
    # issuer is the `iss` claim in the exchanged tokens
    issuer: ""

    # accessTokenLifespan is the lifetime of exchanged tokens
    accessTokenLifespan: 600

    secretName: ""

    # Private keys used to mint JWTs
    privateKeys:
      # secretName specifies the secret where all signing keys live
      # the secret should contain PEM private keys. These are mounted
      # in the container at `/keys/`
      secretName: ""

      # keys is an array of objects which specify the keys to be
      # used when creating and signing JWTs
      #
      # Each keyID should match a key in the secret above.
      #
      # ```yaml
      #  - keyID: default
      #    path: /keys/default.pem
      #    algorithm: RS256
      # ```
      keys:
        - keyID: default
          path: "/keys/default.pem"
          algorithm: RS256

ingress:
  enabled: false
  annotations: {}

  # ```yaml
  # hosts:
  #   - host: bar.foo
  #     paths:
  #       - /example
  #```
  hosts: []

  # tls is a list of hosts and secrets for an Ingres
  # ```yaml
  # tls:
  #   - hosts:
  #       - myidentity-sts.exaple.com
  #     secretName: myidentity-sts-tls
  # ```
  tls: []
    # - hosts:
    #     - myidentity-sts.example.com
    #   secretName: myidentity-sts-tls
