version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    depends_on:
      - cockroachdb
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "127.0.0.1:2222:2222"
    volumes:
      - type: bind
        source: ..
        target: /workspace
      - type: bind
        source: ~/.ssh/authorized_keys
        target: /home/vscode/.ssh/authorized_keys
        read_only: true
    networks:
      idapinet:

  cockroachdb:
    image: cockroachdb/cockroach:v23.2.19
    init: true
    volumes:
      - cockroach-data:/cockroach/cockroach-data
    command:
      - start-single-node
      - "--insecure"
    networks:
      idapinet:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health?ready=1"]
      interval: 10s
      timeout: 40s
      retries: 3
      start_period: 5s

  jaeger:
    image: jaegertracing/all-in-one:1.60.0
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - 16687:16686
    networks:
      - idapinet

networks:
  idapinet:

volumes:
  cockroach-data:
