apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: {{ include "im-sts.listenPort" . }}
  selector:
    app: {{ template "common.names.name" . }}
    component: app
  sessionAffinity: None
  type: ClusterIP
